{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Мой Вишлист" %}{% endblock %}
{% block header %}{% trans "МОЙ ВИШЛИСТ" %}{% endblock %}
{% block extra_header_actions %}
{% if user.is_staff %}
<button onclick="window.location.href='{% url 'add_item' %}';" class="icon-button">
    <i class="fa-solid fa-plus"></i>
</button>
<button onclick="window.location.href='{% url 'admin:index' %}';" class="icon-button">
    <i class="fa-solid fa-user-gear"></i>
</button>
{% endif %}
{% endblock %}
{% block content %}
<div id="list_container">
    <ul>
        {% for item in items %}
            <li {% if item.is_reserved %}class="reserved_item"{% endif %} data-item-id="{{ item.id }}" {% if user.is_staff %}draggable="true"{% endif %}>
                <div class="item-details">
                    <strong class="name">{{ item.name }}<span class="reserved">{% if item.is_reserved %} ({% trans "забронировано" %}){% endif %}</span></strong>
                    {% if item.url %}
                    <a class="url" target="_blank" href="{{ item.url }}" draggable="false">{{ item.url }}</a>
                    {% endif %}
                    {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="image" draggable="false">
                    {% endif %}
                    <p class="description">{{ item.description|safe }}</p>
                </div>
                <div class="item-actions">
                    <button class="icon-button {% if item.is_reserved %}checked{% else %}glow{% endif %}" onclick="{% if user.is_authenticated %}reserveItem(this){% else %}window.location.href = '/accounts/login';{% endif %}">
                        <i class="fas fa-check"></i>
                    </button>
                    {% if user.is_staff %}
                    <button onclick="window.location.href='{% url 'edit_item' item.id %}';" class="icon-button">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block script %}
    timeout = 800;
    texts["reserved"] = " ({% trans "забронировано" %})";
    texts["reserve_confirm"] = "{% trans "Вы уверены, что хотите выбрать этот подарок?" %}";
    texts["reserve_cancel"] = "{% trans "Вы уверены, что хотите снять бронь с этого подарка?" %}";
    texts["reserve_conflict"] = "{% trans "Упс, кто-то уже выбрал этот подарок.." %}";
    {% if user.is_staff %}
    let draggedItem = null;
    initDragAndDrop();
    {% endif %}
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/animation.js' %}"></script>
{% endblock %}